body{
	text-align: center;
	font-family: Manrope;
}
h1{
	font-size: 60px;
	color: red;
}
.js-input {
	color: black;
	font-size: 20px;
	height: 40px;
	width: 230px;
	padding:10px 0px;
	border-radius: 5px;
}

.js-btn {
	margin-left: 10px;
	font-size: 16px;
	height: 62px;
	padding:10px 10px;
	border-radius: 5px;
	width: 90px;
	background-color: rgba(229, 109, 11, 0.947);
	color: #fff;
	font-family: Manrope;
	border: none;
}
.js-btn:hover {
	background-color: rgba(180, 98, 25, 0.947);
}
.js-todos button{
	margin-left: 40px;
}
.js-todos {
	font-size: 20px;
	margin-top: 20px;
	line-height: 35px;
}

@media (max-width: 369.98px) {
	.js-btn{
		margin-top: 20px;
		width: 235px;
		margin-right: 0px;
		margin-left: 0px;
	}
}